* {
    margin: 0px;
    padding: opx;
}

.row {
    width: 960px;
    height: 100px;
    background-color: rgba(180, 176, 176, 0.51);
    margin: auto;
    margin-top: 10px;
    display: flex;
}

.col, .col-2, .col-3 {
    /*height: 300px;
    width: 200px;*/
    background-color: rgb(111, 180, 145);
    margin: 10px;
    padding: 10px;
    /*vertical-align: top;
    display: flex;
    box-sizing: border-box;
    float: left;*/
}
.col {
    flex: 1;
}
.col-2 {
    flex: 2;
}
.col-3 {
    flex: 3;
}